wallet-app/storage/wsdl/wallet.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="WalletService"
             targetNamespace="http://localhost/soap"
             xmlns:tns="http://localhost/soap"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/">



    <!-- Mensajes -->
    <message name="createUserRequest">
        <part name="name" type="xsd:string"/>
        <part name="document" type="xsd:string"/>
        <part name="phone" type="xsd:string"/>
        <part name="email" type="xsd:string"/>
    </message>

    <message name="createUserResponse">
        <part name="result" type="xsd:string"/>
    </message>

    <message name="getBalanceRequest">
        <part name="document" type="xsd:string"/>
        <part name="phone" type="xsd:string"/>
    </message>

    <message name="getBalanceResponse">
        <part name="result" type="xsd:string"/>
    </message>

    <!-- PortType -->
    <portType name="WalletPortType">
        <operation name="createUser">
            <input message="tns:createUserRequest"/>
            <output message="tns:createUserResponse"/>
        </operation>
        <operation name="getBalance">
            <input message="tns:getBalanceRequest"/>
            <output message="tns:getBalanceResponse"/>
        </operation>
    </portType>

    <!-- Binding -->
    <binding name="WalletBinding" type="tns:WalletPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="createUser">
            <soap:operation soapAction="createUser"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
        <operation name="getBalance">
            <soap:operation soapAction="getBalance"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
    </binding>

    <!-- Servicio -->
    <service name="WalletService">
        <port name="WalletPort" binding="tns:WalletBinding">
            <soap:address location="http://localhost:8000/api/server/wallet"/>
        </port>
    </service>

</definitions>
